

.foot-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #eee;
    width: 100%;
}
.foot{
    width: 100%;
}

.coopy{
    background-color: hsl(221, 43%, 15%);
    width: 100%;
    padding: 10px;
}
.coopy p{
    text-align: center;
}
.coordooner{
    background-color: hsl(219, 42%, 6%);
    width: 100%;
    padding: 10px;
}
.foot h4, p, a{
    text-align: center;
    text-decoration: none;
}
.foot a{
    text-decoration: none;
}

